*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: tomato;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
button {
  border: none;
  background-color: rgb(207, 207, 255);
  font-size: 24px;
  padding: 16px;
  margin-left: 10px;
  height: 65px;
  color: #222222;
  font-weight: 600;
  margin-top: 10px;
}
input {
  margin-top: 10px;
  border: none;
  background-color: #eaeaea;
  color: #222222;
  padding: 16px;
  font-size: 24px;
}
#pertanyaan {
  font-size: 1.6em;
  font-weight: 500;
}
